.formContainer {
  border: 1px solid black;
  margin-left: 10px;
  padding: 5px;
  gap: 5px;
  background: pink;
  margin-top: 10px;
}

/* .formDiv {
  padding: 5px;
} */

.formContainer button {
  background: black;
  color: white;
  margin-top: 5px;
  width: 100%;
}
